# Android Studio / Gradle / Build
.gradle/
build/
*/build/
local.properties
.idea/
.DS_Store
*.iml

# Log files
*.log

# Keystore files
*.jks
*.keystore

# Misc
captures/
output.json

# Firebase / Secret configs
google-services.json
